<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop</title>
</head>
<body>
    <h1>Welcome to the Online Shop</h1>
    <!-- TODO: Add your front page content here -->
    <nav>
        <a href="">Home</a> |
        <a href="products/">Products</a> |
        <a href="orders/">Order Now</a> |
        <a href="login/">Login</a> |
        <a href="register/">Register</a> |
        <a href="logout/">Logout</a>
    </nav>
    <main>
    <h2>Customer Options</h2>
    <div>
        <p><a href='orders/'>View Orders</a></p>
        <p><a href='orders/new/'>New Order</a></p>
    </div>
    <div>
        <p>Click <a href='addresses/new/'>here</a> to add a new address</address></p>
        <p><a href='addresses/'>Manage Addresses</a></p>
    </div>
    <div>
        <p><a href='credit_cards/'>View Credit Cards</a></p>
        <p><a href='credit_cards/new/'>Add New Credit Card</a></p>
    </div>
    <div>
        <p><a href='delivery_plans/'>Check Delivery</a></p>
        <p><a href='delivery_plans/new/'>New Delivery Plan</a></p>
    </div>
    </main>
    <footer>
    <h3>Staff Options</h3>
    <p>Not a customer click <a href='staff/'>here</a>
    to navigate to the Staff Dashboard
    </p>
    </footer>
</body>
</html>
