<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Shop</title>
</head>
<body>
    <h1>Welcome to the Online Shop</h1>
    <!-- TODO: Add your front page content here -->
    <nav>
        <a href="">Home</a> |
        <a href="products/">Products</a> |
        <a href="orders/">Order Now</a> |
        <a href="customers/">Update Information</a> |

        <a href="login/">Login</a> |
        <a href="register/">Register</a> |
        <a href="logout/">Logout</a>
    </nav>
    <p>Not a customer click <a href='staff/'>here</a>
    to navigate to the Staff Dashboard
    </p>
</body>
</html>
